.image{
    width: 40%;
    height: 40%;
    max-height: 400px;
    max-width: 400px;
    border-radius: 100%;
    margin-top: 10px;
    overflow: hidden;

}

.username{
    margin-top: 10px;
    text-shadow: 2px 2px 5px blue
}